{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<style>
.btn.btn-primary {
    height: 40px;
    width: 120px;
}
</style>
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes déjà connecté sous {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    	<h2 class="font-weight-bold display-4 ">SE
		<span style="color: #2277ff">CONNECTER</span>
	</h2>
    <hr>

    <div class="newform">
        <label for="inputEmail">Email</label>
        <input placeholder="Votre adresse email" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-primary mt-4 mb-4" type="submit">
            Connexion
        </button>

        <a style="color: black !important; margin: auto;" href="{{ path('reset_password') }}">Mot de passe oublié ?</a>
    </div>
</form>
{% endblock %}
