{% extends 'base.html.twig' %}

{% block title %}CVThèque
{% endblock %}
{# {% block carousel %} {% endblock %} #}
{% block body %}

	<style>
		.dec {
			background: #2277ff;
			color: white;
			font-weight: bold;
			border-color: #2277ff;
		}
		.addcv {
			display: flex;
			justify-content: center;
		}
		.form-control {
			background: #f5f6f6 !important;
		}
		h5 {
			font-size: 13px;
		}
	</style>


	<!-- FILTRES -->
	<form class="filtres" action="{{ path('cvtheques') }}" method="POST" id="search">
		<div class="fil">
			<button class="btn btn-primary" style="height: 50px;" type="submit">DOMAINE</button>
			<input class="form-control" style="height: 50px;" placeholder="Rechercher" name="search" type="search">
		</div>

		<div class="logs">
			<div class="fil mr-0">
				<button class="btn btn-primary" style="height: 50px;" type="submit">LIEU</button>
				<input class="form-control" style="height: 50px;" placeholder="Rechercher" type="search" name="search2">
			</div>

			<div class="fil2">
				<button type="submit" class="btn btn-primary" style="height: 50px; width: 50px;">
					<i style="font-size: 20px" class="fas fa-search"></i>
				</button>
			</div>
		</div>

	</form>


	<!-- FILTRES AVANCES -->

	{{ form_start(form, {attr: {class: 'filter mb-3'}}) }}

	<div class="filtrecol" style="max-width: 180px !important">
		<div
			class="row">
			{# <h5 class="elig mt-4">EXPERIENCE</h5> #}
			<div class="col-md-6">
				{{ form_row(form.min) }}
			</div>
			<div class="col-md-6">
				{{ form_row(form.max) }}
			</div>
		</div>
		<div id="price-slider" data-min="{{ min }}" data-max="{{ max }}" style=""></div>
	</div>

	<div class="filtrecol">
		<h5 class="elig mt-4">DISPONIBLE</h5>
		{{ form_row(form.disponible) }}
	</div>

	<div class="filtrecol mt-4">
		{{ form_row(form.contrat) }}
	</div>

	<div style="display: none !important;">
		{{ form_row(form.eligible) }}
		{{ form_row(form.date) }}
	</div>

	<button type="submit" class="btn btn-primary" style="height: 30px; width: 30px;">
		<i style="font-size: 20px" class="fas fa-search"></i>
	</button>

	{{ form_end(form) }}

	{% if is_granted('ROLE_USER') %}
		{% if app.user and app.user.cvonline != 1 %}
			<a href="{{ path('cvtheque_new') }}" class="color: black !important;">
				<div class="addcv">
					<button class="btn btn-primary mb-3" style="width: 200px; height: 50px;">Ajouter son cv</button>
				</div>
			</a>
		{% else %}
			<div class="addcv mb-3">
				Votre cv est en ligne
			</div>
		{% endif %}
	{% else %}
		<a href="{{ path('cvtheque_new') }}" class="color: black !important;">
			<div class="addcv">
				<button class="btn btn-primary mb-3" style="width: 200px; height: 50px;">Ajouter son cv</button>
			</div>
		</a>
	{% endif %}

	{% for cvtheque in cvtheques %}
		<!-- CARDS -->

		<div class="card mb-5" style="max-width: 1200px;">
			<div class="row" style="flex-wrap: nowrap;">
				<div class="">
				{% if cvtheque.image != '' %}
					<a href="{{ path('cvtheque', { 'id' : cvtheque.id}) }}"><img class="navimg" src="/uploads/{{ cvtheque.image }}" alt="..."></a>
					{% else %}
					
					{% if cvtheque.reference.civilite == 'Mme' %}
					<a href="{{ path('cvtheque', { 'id' : cvtheque.id}) }}"><img class="navimg" src="{{ asset('img/fille.jpg') }}" alt="..."></a>
					{% endif %}

					{% if cvtheque.reference.civilite == 'Mr' %}
					<a href="{{ path('cvtheque', { 'id' : cvtheque.id}) }}"><img class="navimg" src="{{ asset('img/garcon.png') }}" alt="..."></a>
					{% endif %}
						
				{% endif %}
				</div>
				<div class="card-body">
					<div class="card1">
						<a href="{{ path('cvtheque', { 'id' : cvtheque.id}) }}">
							<h5 style="color: black; text-transform: uppercase;" class="card-title">{{ cvtheque.nom }}
								{{ cvtheque.prenom }}</h5>
						</a>
						<p class="card-text" style="text-transform: uppercase;">{{ cvtheque.category }}</p>
						<p class="card-text">
							<small class="text-muted">{{ cvtheque.lieu }}</small>
						</p>
					</div>

					<div class="card1">
						<h5 class="card-title">
							<a href="{{ path('cvtheque_like', {'id': cvtheque.id}) }}" class="btn btn-link js-like">
								{% if app.user and cvtheque.isLikeByUser(app.user) %}
									<i class="fas fa-heart"></i>
								{% else %}
									<i class="far fa-heart"></i>
								{% endif %}
							</a>
						</h5>
						<p class="card-text" style="color: #2277ff;">
							{% if cvtheque.disponible == 1 %}DISPONIBLE
							{% endif %}
						</p>
						<p class="card-text">
							<small class="text-muted">
								<a href="{{ path('cvtheque', { 'id' : cvtheque.id}) }}">
									<button class="dec">DÉCOUVRIR</button>
								</a>
							</small>
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- /END -->

	{% endfor %}

	<!-- Pagination -->
	<div class="" style="display: flex; justify-content: center;">
		{{ knp_pagination_render(cvtheques) }}
	</div>

{% endblock %}
