{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement{% endblock %}

{% block body %}
<style>
.newform {
    text-align: center;
}
</style>
    	<h2 class="font-weight-bold display-4 ">ERREUR
		<span style="color: #2277ff">DE PAIEMENT</span>
	</h2>
    <hr>
    <p class="newform">
        Bonjour <strong>{{ app.user.firstname }} {{ app.user.lastname }}</strong>,<br/><br/>
        Il semblerait que votre paiement est échoué pour votre commande 
        
        {# n°<strong>{{ order.reference }}</strong>.<br/>
        Une confirmation d'erreur vient de vous être envoyée par email à l'adresse <strong>{{ order.user.email }}</strong>. #}
    </p>
    <a href="{{ path('home') }}" class="btn btn-success">Retour</a>
{% endblock %}
